*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial;
    /*background:#fff url(../../img/bubble/bg.png) no-repeat top left; */
}

.title{
    width:548px;
    height:119px;
    position:absolute;
    top:400px;
    left:150px;
    /* background:transparent url(../../img/bubble/title.png) no-repeat top left;*/
}
#content{
    margin:0 auto;
}
